html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #303055;
    font-size: 0px;
}

.container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    canvas{
        width: 100%;
    }
  }

#info{
    font-size: medium;
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(230, 223, 205);
    width: fit-content;
    height: fit-content;
}